@font-face {
  font-family: "Vazir";
  src: url("fonts/Vazir.eot");
  src: url("fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("fonts/Vazir.woff2") format("woff2"),
    url("fonts/Vazir.woff") format("woff"),
    url("fonts/Vazir.ttf") format("truetype");
}

body {
  font-family: "Vazir" !important;
}

.icon{
  color: #0d6efd;
  background-color: #ebeafb;
  display: inline-flex;
  padding: 15px;
  border-radius: 15px;
}


.card-primary{
  background-color: #1b2a4e;
}

.footer-header{
  border-bottom: 3px solid black;
  height: 35px;
}

.footer-link{
  text-decoration: none;
  color: #000;
}


.footer-link:hover{
  color: #000;
  opacity: 0.7;
}


.socials{
  color: #000;
}

.social1:hover{
  color: red;
}
.social2:hover{
  color: #0d6efd;
}
.social3:hover{
  color: #0d6efd;
}
.social4:hover{
  color: red;
}